node_modules

# output
__screenshots__
dist
*.tgz

# dotenv environment variable files
.env

# caches
*.tsbuildinfo
.cache
.turbo

# IntelliJ based IDEs
.idea

# VSCode
.vscode

# Finder (MacOS) folder config
.DS_Store
